body {margin:0; background-color:#fff;}

.header{ display:flex; background-color:#222222; justify-content:center; }

.left-item { display:flex; align-items:center; margin-left:20px; }
.right-item { display:flex; align-items:center; margin-right:20px; }

.container {  width:1000px; height:50px; display:flex;  align-items:center;   white-space: nowrap; justify-content:space-between; }
.container-menu { color:#9c9c9c; margin-right:18px; text-decoration: none; font-size:16px; font-family:sans-serif;   white-space: nowrap; }
.container-menu:hover { color:#fff; margin-right:18px; text-decoration: none; font-size:18px;  }
.title {  margin-left:10px; font-size:20px; color:#fff; text-decoration: none; font-family:sans-serif; white-space: nowrap; }
.title-number {color:#fff;  margin-left:8px; }
.searchbox {margin-bottom:10px; }
.search { margin-top:10px; display:flex;  background-color:#333333; width:200px; height:35px; border-radius: 1.3em; transition: width 0.4s; }
.search__input { margin-left:20px; background-color: transparent; border:none; border-radius: 1.3em; color:#fff; }
.search__input:focus { outline: none; }
.search__input::placeholder { color:#fff; }
.search--active { width: 260px; background-color:#9c9c9c; }
.github { margin-left:10px; }

.mobile-menu { background-color:#05a5d1;  text-align: center; display: none;  }
.mobile-menu__item {  flex-grow:1; padding:20px 15px; text-decoration:none; color:#fff; font-family: sans-serif; transition: background 0.2s; width:100%;  }
.mobile-menu__item:hover{ background-color:#222; }

@media only screen and (max-width: 700px)  {
    .mobile-menu { display: flex; }
    .container-menu { display:none;}
    }

.hero { width:auto; height:305px; background-color: #333333; text-align:center;  }
.hero__title { font-size:45px; font-family: sans-serif; color:#fff; padding-top:60px; }
.hero__desc { font-size:23px; font-family: sans-serif; color:#fff; padding-top:10px; padding-bottom:40px; }
.hero__button { transition: padding 0.2s; box-shadow: 1px 3px 3px rgba(0,0,0,.3); font-weight: 300; text-shadow: 0 1px 3px rgba(0,0,0,.3); margin-left:20px; font-size:25px; font-family: sans-serif; text-decoration: none; border:none; border-radius: 0.2em; padding: 15px 10px; background-color:#05a5d1; color:white; }
.hero__button:hover { background-color:#047598; padding:17 12px; }









